body{
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  background: linear-gradient(white , rgb(255, 255, 135));
}
.header div{
  text-align: center;
}
.header img{
  max-width: 30%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-1{
  height: 110vh;
}

.img-2{
  max-width: 100%;
}

.content-para{
  font-weight: bold;
}

.para{
  text-align:center ;
  margin: 15px;
}

.equip-img{
  text-align: center;
}

.equip-img img{
  max-width: 85%;
}
.para2{
  text-align: center;
  font-weight: 500;
}

.hr{
  border: 1px solid #ff1b31;
}

.footer-content{
  background-color: #ff1b31;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content a{
  color: white;
  text-decoration: none;
}

@media (max-width: 425px){
  .img-1{
    height: 5vh
  }
}
@media (max-width: 568px){
  .img-1{
    height: 30vh
  }
}

@media (max-width: 768px) {
  body{
    margin: 5px;
  }
  .img-1{
    height: 40vh
  }
 .container{
  flex-direction: column;
 }
 .content-para2{
  text-align: justify;
 }
 .content-para{
  text-align: center;
 }
}

@media (max-width: 425px) {
  .img-1 {
    height: 25vh;
  }
}

@media (min-width: 426px) and (max-width: 568px) {
  .img-1 {
    height: 30vh;
  }
}

@media (min-width: 569px) and (max-width: 768px) {
  body {
    margin: 5px;
  }
  .img-1 {
    height: 40vh;
  }
  .container {
    flex-direction: column;
  }
  .content-para2 {
    text-align: justify;
  }
  .content-para {
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .img-1 {
    height: 90vh;
  }
}

@media (min-width: 1024px){
  .img-1 {
    height: 110vh;
  }
}


